body {
  background: white;
  transform: scale(0.4);
}

#cap {
  background: #FF8240;
  width: 925px;
  height: 200px;
  display: flex;
  position: absolute;
  margin: 20px -220px;
  border-radius: 20px;
  opacity: 1;
  z-index: 0;
}

#logo {
  z-index: 2;
  position: absolute;
  border-radius: 20px;
  margin: 20px -180px;
}

#card_espresso {
  background: #A63A00;
  width: 450px;
  height: 450px;
  position: absolute;
  margin: 270px -180px;
  border-radius: 50px;
  opacity: 1;
  z-index: 0;
}

#card_cappussino_img {
  z-index: 11;
  position: absolute;
  margin: 370px 410px;
  width: 200px;
  height: 200px;
}

#card_cappussino {
  background: #A63A00;
  width: 450px;
  height: 450px;
  position: absolute;
  margin: 270px 290px;
  border-radius: 50px;
  opacity: 1;
  z-index: 0;
}

#plus_cappussino_block {
  background: #949594;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px 350px;
  border-radius: 10px;
  border: 5px solid white;
  opacity: 1;
  z-index: 5;
}

#plus_cappussino_block_invizes {
  background: #FF5600;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px 350px;
  border-radius: 10px;
  border: 5px solid #FF8240;
  opacity: 0;
  z-index: 12;
}

#minus_cappussino_block_invizes {
  background: #FF5600;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px 575px;
  border-radius: 10px;
  border: 5px solid #FF8240;
  opacity: 0;
  z-index: 12;
}

#minus_cappussino_block {
  background: #949594;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px 575px;
  border-radius: 10px;
  border: 5px solid white;
  opacity: 1;
  z-index: 6;
}

#card_espresso_img {
  z-index: 2;
  position: absolute;
  margin: 360px -25px;
  width: 130px;
  height: 241px;
}

#text_espresso {
  position: absolute;
  z-index: 3;
  font-size: 60px;
  margin: 270px -100px;
  color: white;
}

#text_cappuccino {
  position: absolute;
  z-index: 3;
  font-size: 60px;
  margin: 270px 380px;
  color: white;
}

#plus_espresso_block {
  background: #949594;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px -120px;
  border-radius: 10px;
  border: 5px solid white;
  opacity: 1;
  z-index: 5;
}

#plus_espresso {
  font-size: 100px;
  position: absolute;
  z-index: 6;
  margin: 593px -98px;
  color: white;
}

#plus_espresso_block_invizes {
  background: #FF5600;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px -120px;
  border-radius: 10px;
  border: 5px solid #FF8240;
  opacity: 0;
  z-index: 7;
}

#click_espresso {
  font-size: 100px;
  position: absolute;
  z-index: 7;
  margin: 593px 15px;
  color: white;
}

#click_cappussino {
  font-size: 100px;
  position: absolute;
  z-index: 7;
  margin: 593px 485px;
  color: white;
}

#minus_espresso_block {
  background: #949594;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px 100px; /*20px отступ*/
  border-radius: 10px;
  border: 5px solid white;
  opacity: 1;
  z-index: 5;
}

#minus_espresso {
  font-size: 103px;
  position: absolute;
  z-index: 7;
  margin: 538px 125px;
  color: white;
}

#plus_cappussino {
  font-size: 103px;
  position: absolute;
  z-index: 7;
  margin: 590px 372px;
  color: white;
}

#minus_cappussino {
  font-size: 103px;
  position: absolute;
  z-index: 7;
  margin: 538px 600px;
  color: white;
}

#minus_espresso_block_invizes {
  background: #FF5600;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px 100px; /*20px отступ*/
  border-radius: 10px;
  border: 5px solid #FF8240;
  opacity: 0;
  z-index: 8;
}

#stick_espresso {
  width: 450px;
  height: 10px;
  background: #FF8240;
  position: absolute;
  z-index: 10;
  margin: 355px -180px;
  opacity: 0;
}
